<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in entry.contents %}
    <li class="list-group-item">
      {% if content contains ':' %}
        {% assign parts = content | split: ':' %}
        <strong>{{ parts[0] }}:</strong>{{ parts[1] }}
      {% else %}
        {{ content }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
